@page "/"

<PageTitle>Index</PageTitle>


<h1> Welcome to my Plans </h1>

The Palce Where Dreams Comes True


<SurveyPrompt Title="How is Blazor working for you?" />
<AuthorizeView>
    <Authorized>
        <h2>
            Welcome
        </h2>
    </Authorized>
    <NotAuthorized>
        You don't have an account. Please Login
        <MudLink Href="/auth/login"> LogIn </MudLink>
    </NotAuthorized>
    </AuthorizeView>
    @code{

    }