<h3>LoginScreen</h3>
<AuthorizeView>
    <Authorized>
        <MudMenu Label="Open Menu" Variant="Variant.Outlined" Color="Color.Secondary">
            <MudMenuItem>Enlist</MudMenuItem>
            <MudMenuItem>Barracks</MudMenuItem>
            <MudMenuItem>Armory</MudMenuItem>
        </MudMenu>

    </Authorized>
    <NotAuthorized>

</NotAuthorized>
</AuthorizeView>



@code {

}
